@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Prompt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Prompt:wght@300&family=Roboto+Condensed&display=swap');

:root {
    --fonte-paragrafo: 'Prompt', cursive;
    --fonte-titulo: 'Bebas Neue', cursive;
    --fonte-secundarios: 'Roboto Condensed';

    --cor6: rgb(219, 161, 36);
    --cor7: rgb(223, 171, 58);
    --cor8: rgb(226, 180, 80);
    --cor9: rgb(230, 189, 101);
    --cor10: rgb(234, 199, 123);
}

body {
	background-image: url('../img/foto_pao_grupo.jpg');
	background-position: right center;
	background-size: cover;
	background-attachment: fixed;
}

* {
	margin: 0px;
	padding: 0px;
}

h1 {
	font-family: var(--fonte-titulo);
	text-align: center;
}

h2 {
	font-family: var(--fonte-secundarios);
	text-decoration: underline;
}

p {
	font-family: var(--fonte-paragrafo);
}

ul li{
	font-family: var(--fonte-paragrafo);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-radius: 5px;
}


main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px; /* para deixar recuo no inicio do paragráfo */
    font-size: 1em;
    line-height: 2em; /* espaçamento entre linhas */
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

#link__voltar {
    background-color: var(--cor8);
    border-radius: 8px 8px;
    box-shadow: 3px 3px 3px 0px;
}
#link__voltar::hover {
	text-decoration: underline;
}