@charset "UTF_8";

:root {
    --cor1: rgb(219, 161, 36);
    --cor2: rgb(223, 171, 58);
    --cor3: rgb(226, 180, 80);
    --cor4: rgb(230, 189, 101);
    --cor5: rgb(234, 199, 123);

}

body {
    background-image: url('../img/foto_pao_home.jpg');
    background-repeat: no-repeat;
     background-size: cover;
    background-attachment: fixed;
}

header {
    /* para deixar cor com degrade */
    background-image: linear-gradient(to bottom, rgb(226, 178, 76), 
    rgb(237, 208, 145));
    background-color: var(--cor4);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.267);
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.315);
}

nav > a {
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .3s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
    text-decoration: underline;
    color: white;
}